@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins";
    box-sizing: border-box;
}

/* HEADER DE TODAS LA PAGINAS */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f2f1;
    color: rgb(205, 226, 161);
    padding: 20px;
    animation-name: cambioColor;
    animation-duration: 5s;

}

.logo img {
    height: 80px;
    max-width: 100%;

}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    margin: 15px;
    font-size: 40px;
}




.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: rgb(226, 239, 189);
    background-color: #f6f2f1;

}

.navbar-nav a {
    margin: 10px;
    text-decoration: none;
    color: rgb(225, 193, 233);
    background-color: #f6f2f1;
    border-color: #f9f1ee;


}

.navbar-nav :hover {
    color: rgb(205, 226, 161);

    ;

}

.navbar-toggler-icon {
    background-color: #f6f2f1;
    color: #f6f2f1;
}





/* INDEX Main con Imagenes en Slider */
main {
    background-color: rgb(249, 245, 248);
    padding: 10px;
    font-weight: normal;
}

.contenedor h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #dba1be;
}

.contenedor h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    color: #dba1be;
}

.contenedor-programs {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.program {
    width: 30%;
    
    
}
.program img {
    width: 100%;
    border-radius:20px ;
}

.program p {
    font-size: 16px;
    text-align: center;
    
    
}

/* Slider con Bootstrap */
.carousel-item :hover {
    filter: blur(2px);
    transition: .3s;
    padding: 0;
    background-size: cover;
}


/* FOOTER */

footer {
    background-color:#eacce4;;
    height: 100px;
}

.footer-style {
    margin: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.footer-icon {
    color: rgb(249, 236, 219);
    font-size: 40px;
    padding: 20px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(249, 236, 219)
}

/* Página INSPO  */      /* Galeria de Imagenes con Css Grid */


.contenedor h5 {
    text-align: center;
    color: #eacce4;
    margin-top: 40px;
    font-size: 30px;
    
}
.galeria {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
    padding: 10px;
}

.galeria img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.galeria :hover {
    opacity: 0.9;
    color: rgb(232, 169, 206);
}



/* Pagina CONTACTO Googles maps y form*/  
.padre h4 {
    text-align: center;
    color: #cf8dc3;
    padding: 20px;
}

.contact-in {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: solid 2px rgb(236, 214, 245);
    border-radius: 10px;
    background-color: #eee4e2;
    justify-content: space-around;

}



.contact-form-txt {
    width: 100%;
    height: 40px;

    color: #dba1be;
    border: 2px solid rgb(236, 214, 245);
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;


}

.contact-form-textarea {
    display: flex;
    width: 100%;
    height: 160px;
    color: #dba1be;
    border: 3px solid rgb(236, 214, 245);
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    resize: none;


}



.contact-form-textarea::placeholder {
    color: #f0c8be;
}

.contact-form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgb(222, 187, 232);
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 18px;
}

.contact-map {
    display: flex;
    justify-content: space-around;
}

.horarios {
    color: #cf8dc3;
}


/* Pagina NOSOTROS */

.contenedor-nosotros h2{
    font-size: 40px;
}
.contenedor-nosotros h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    color: #dba1be;
}

.contenedor-nosotros h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    color: #dba1be;
}

.contenedor-programs {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.program {
    width: 30%;
}
.program img {
    width: 100%;
}

.program p {
    font-size: 20px;
    line-height: 24px;
    
}





/* Animaciones */

.logo img:hover {
    transform: scale(0.5);
    transition: 3s;
}

@keyframes cambioColor {
    0% {
        background-color: #f9f1ee;
    }

    25% {
        background-color: #faf4f2;
    }

    50% {
        background-color: #f8f3f2;
    }

    100% {
        background-color: #f6f2f1;
    }
}




/* ------------------------------------------------------------------------------------------ */

/* RESPONSIVE DESING MEDIA QUERY  */
/* DISPOSITIVOS CHICOS */

@media (max-width:480px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.logo {
    font-size: 20px;
}
    .logo img {
        height: 40px;
        width: 40px;
    }

    .contact-in {
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 20px;

    }

    .contact-map iframe {
        width: fit-content;
        display: flex;
        align-items: center;

    }

    .seguinos {
        display: none;
    }

    .galeria img {
        flex-direction: column;
        row-gap: (1rem, 3rem);
    }
    .footer-icon {
        font-size: 22px;
    }
    
    .contact-form-btn {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 50px;
        background-color: rgb(222, 187, 232);
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 14px;
        
    }

    .contenedor-programs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        font-size: 15px;

}


@media (max-width:450px) {

    .logo img {
        height: 30px;
        width: 30px;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-icon {
        font-size: 20px;
    }

    .contact-in {
        height: fit-content;

    }

    .contact-map iframe {
        width: fit-content;
        display: flex;
        align-items: center;
    }

    .contenedor h2 {
        font-size: 20px;
        color: rgb(227, 193, 205);
    }
}

.contenedor h3 {
    font-size: 18px;
}

.program p {
    font-size: 16px;
}

}