/* RESPONSIVE DESING MEDIA QUERY  */
/* DISPOSITIVOS CHICOS */

@media (max-width:480px) {
    /* Galeria inspo */

    .galeria {
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 5rem;
        padding: 20px;
    }

    .galeria img {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .galeria :hover {
        opacity: 0.9;
        color: rgb(232, 169, 206);
    }



    /* Media Productos */
    .grilla {
        display: grid;
        grid-template-columns: 5fr 5fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "section1 section1 section1"
            "section2 section2 section2"
            "section3 section3 section3";
        background-color: #f6f4ec;
        color: #f9f0ee;
        font-weight: bold;
    }

    .container-products {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;

    }


    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        font-size: 20px;
    }

    .logo img {
        height: 40px;
        width: 40px;
    }

    .contact-in {
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 20px;

    }

    .contact-map iframe {
        width: fit-content;
        display: flex;
        align-items: center;

    }

    .seguinos {
        display: none;
    }

    .galeria img {
        flex-direction: column;
        row-gap: (1rem, 3rem);
    }

    .footer-icon {
        font-size: 22px;
    }

    .contact-form-btn {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 50px;
        background-color: rgb(222, 187, 232);
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 14px;

    }

    .contenedor-programs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        font-size: 15px;

    }


    @media (max-width:450px) {

        /* Galeria inspo */

        .galeria {
            width: 100%;
            display: grid;
            margin: auto;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 3rem;
            row-gap: 5rem;
            padding: 20px;
        }

        .galeria img {
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .galeria :hover {
            opacity: 0.9;
            color: rgb(232, 169, 206);
        }


        /* Media Productos */
        .container-products {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(1, 1fr);
            padding: 10px;

        }


        /* Media Servicios */

        .grilla {
            display: grid;
            grid-template-columns: 3fr 5fr 5fr 3fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "aside section1 section1 section1"
                "aside section2 section2 section2"
                "aside section3 section3 section3";
            background-color: #f6f4ec;
            color: #f9f0ee;
            font-weight: bold;
        }



        /* Logo y Navbar */

        .logo img {
            height: 30px;
            width: 30px;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navbar-nav {

            margin-top: 5px;

        }

        .navbar-toggler {
            flex-direction: column;


        }

        .footer-icon {
            font-size: 20px;
        }

        .contact-in {
            height: fit-content;

        }

        .contact-map iframe {
            width: fit-content;
            display: flex;
            align-items: center;
        }

        .contenedor h2 {
            font-size: 20px;
            color: rgb(227, 193, 205);
        }
    }

    .contenedor h3 {
        font-size: 18px;
    }

    .program p {
        font-size: 16px;
    }

}