@mixin h2productos {
<<<<<<< HEAD
    font-size: 30px;
    font-family: 'satisfy';
    color: rgb(212, 198, 181);
    }
=======
font-size: 30px;
font-family: 'satisfy';
color: rgb(212, 198, 181);
}
>>>>>>> refs/remotes/origin/main
